<div class="alert-container">
  <mat-card class="alert-card">
    <div class="alert-content">
      <div class="alert-image">
        <img src="https://i.ytimg.com/vi/o661QDc-XJI/maxresdefault.jpg" alt="Imagen de alerta" />
      </div>
      <div class="alert-text">
        <mat-card-title>¡Hola!</mat-card-title>
        <br>
        <br>
        <p>Somos un banco de inversión que fundamenta la gestión de inversiones en una plataforma integrada con soluciones diversificadas y research especializado, elementos claves para la toma de decisiones de nuestros clientes</p>
        <br>
        <p>¡Tenemos un portafolio de sevicios esperandote!</p>
        <br>
      </div>
    </div>
    <div class="button-container">
      <button mat-raised-button class="transparent-button" (click)="handleNext()">Siguiente</button>
    </div>
    <div class="footer-container">
      <img src="https://www.sejabtg.com/assets/images/logo-shared.png" alt="Logo" class="footer-image" />
    </div>
  </mat-card>
</div>
