<div class="card-container">
  <div class="card">
    <div class="card-image">
      <img src="https://www.btgpactual.com.co/sites/default/files/2020-09/wealth-management_0.jpg" alt="Imagen de la tarjeta 1">
      <span class="card-title">Título de la Tarjeta 1</span>
    </div>
    <div class="card-content">
      <h2 class="centered-title">¡Crea una cuenta con BTG Pactual!</h2>
      <div class="separator"></div>
      <p class="centered italic-text">¡Vive con nosotros una nueva aventura de inversión!</p>
      <p class="centered italic-text">Asesoría especializada, oferta integral y profundo conocimiento de inversiones, regional y global.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="https://www.btgpactual.com.co/sites/default/files/2020-09/invest-banking_0.jpg" alt="Imagen de la tarjeta 2">
      <span class="card-title">Título de la Tarjeta 2</span>
    </div>
    <div class="card-content">
      <h2 class="centered-title">¡Haz tu primera inversión!</h2>
      <div class="separator"></div>
      <p class="centered italic-text">¡Estas a punto de iniciar un nuevo camino!</p>
      <p class="centered italic-text">Gestión de activos y creación de mercado para estructurar alternativas de inversión dirigidas para usted.</p>
    </div>
  </div>
</div>

