<div *ngIf="balanceData" class="balance-container">
  <mat-card class="balance-card">
    <div class="balance-content">
      <mat-card-title>Información de su cuenta</mat-card-title>
      <div class="balance-body">
        <p>Nombre: {{ balanceData?.data?.name }}</p>
        <p>Correo electrónico: {{ balanceData?.data?.email }}</p>
        <p>Número telefónico: {{ balanceData?.data?.phoneNumbeer }}</p>
        <p>Saldo: {{ balanceData?.data?.Balance | currency }}</p>
        <p>ID de la Cuenta: {{ balanceData?.data?.IdBalance }}</p>
      </div>
    </div>
  </mat-card>
</div>
